<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>MiwWebApp</display-name>
    <description>
        MIW Web application.
    </description>
    <listener>
        <description>Session Watcher</description>
        <listener-class>jp.co.nii.sew.presentation.SessionWatcher</listener-class>
    </listener>
    <filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>jp.co.nii.sew.presentation.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>Windows-31J</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>TimeOutCheckFilter</filter-name>
        <filter-class>jp.co.nii.sew.presentation.filter.TimeOutCheckFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/kanshi/*,/kojin/Msk/MskLoginInitAct.do,/Myp/MypLogin.do,/Myp/MypLoginAct.do,/Myp/MypLogoutAct.do,/Myp/MypPswRemInitAct.do,/Myp/MypPswRemInp1Act.do,/Myp/MypPswRemResu.do,/kojin/MenuAct.do,/dantai/MenuMoshikomishaAct.do,/dantai/MenuDaihyoshaAct.do,/dantai/Inf/DntInfLoginInitAct.do,/dantai/Inf/DntInfLoginAct.do,/dantai/Msk/DntMskLoginInitAct.do,/dantai/Msk/DntMskLoginAct.do,/dantai/Inf/DntPswRemInitAct.do,/dantai/Inf/DntPswRemInp1Act.do,/pay/SrvReceiptAct.do,/pay/SrvCancelAct.do</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>JznKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.JznKikanCheckFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/kojin/Jzn/JznTopAct.do</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>JznSessionCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.JznSessionCheckFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/kojin/Jzn/JznTopAct.do</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MskKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.MskKikanCheckFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/kojin/Msk/MskLoginInitAct.do,/kojin/Msk/MskLoginAct.do,/kojin/Msk/MskPictureAction.do</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MskSessionCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.MskSessionCheckFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/kojin/Msk/MskLoginInitAct.do,/kojin/Msk/MskLoginAct.do</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MypUpdKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.MypUpdKikanCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MypSessionCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.MypSessionCheckFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/Myp/MypLogin.do,/Myp/MypLoginAct.do,/Myp/MypLogoutAct.do,/Myp/MypPswRemInitAct.do,/Myp/MypPswRemInp1Act.do,/Myp/MypPswRemResu.do</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>DntShutuganKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntShutuganKikanCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntSaiShutuganKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntSaiShutuganKikanCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntInfSessionCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntMskTorokuKikanCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntMskTorokuSessionCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntMskTorokuSessionCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntInfUpdKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntInfUpdKikanCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntInfMskSessionCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntInfMskSessionCheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DntMskUpdKikanCheckFilter</filter-name>
        <filter-class>jp.co.nii.miw.presentation.filter.DntMskUpdKikanCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TimeOutCheckFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JznKikanCheckFilter</filter-name>
        <url-pattern>/kojin/Jzn/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JznSessionCheckFilter</filter-name>
        <url-pattern>/kojin/Jzn/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MskKikanCheckFilter</filter-name>
        <url-pattern>/kojin/Msk/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MskSessionCheckFilter</filter-name>
        <url-pattern>/kojin/Msk/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MypSessionCheckFilter</filter-name>
        <url-pattern>/Myp/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MypUpdKikanCheckFilter</filter-name>
        <url-pattern>/Myp/MypMskUpdInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MypUpdKikanCheckFilter</filter-name>
        <url-pattern>/Myp/MypMskUpdConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MypUpdKikanCheckFilter</filter-name>
        <url-pattern>/Myp/MypMskPicSelAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntTopAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntAgrAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntInpConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntSaiShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskAgrAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntSaiShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskLoginInitAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntSaiShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskLoginAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntSaiShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntSaiShutuganKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntInpConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntAgrAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskAgrAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/DntMskAgrAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfUpdInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfUpdConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntJknPswCngInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntPswCngInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskListAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskLoginInitAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskLoginAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskPicSelAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskPicConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskAgrAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskPicSelAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskTorokuSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Msk/MskPicConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfUpdKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfUpdInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfUpdKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfUpdConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfUpdKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfMskSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskInfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfMskSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskUpdInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntInfMskSessionCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskUpdConfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskUpdKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskUpdInpAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskUpdKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskInfAct.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DntMskUpdKikanCheckFilter</filter-name>
        <url-pattern>/dantai/Inf/DntInfMskUpdConfAct.do</url-pattern>
    </filter-mapping>
    <!--    <filter-mapping>
        <filter-name>MskFilter</filter-name>
        <url-pattern>/Msk/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/html/sys_err.html</location>
    </error-page>
</web-app>
