/**基本テーブル(幅を合わせる)*/
.table1{width: 640px; border-collapse: collapse;}
/**外枠表示テーブル*/
.table2 { width:640px; border:1px solid #000000; border-collapse:collapse;}
/*枠線赤*/
.table3 { width:640px; border:1px solid #ff1100;}
.td2 { text-align:center; }
.td3 { text-align:right; }
.td6 { vertical-align:top; }

/**ウォーターマーク**/
.updnWatermark {
    color:  #c9c9c9;
    font-family: Sans-Serif;
    font-style: italic;
    padding: 2px;
    white-space: nowrap;
    font-size:12px
}

div.rightrepeat {
    background-image:url(../image/right.gif);
    background-repeat:repeat-y;
    background-position:right top;
    width:100%; 
}

div.leftrepeat {
    background-image:url(../image/left.gif);
    background-repeat:repeat-y;
    background-position:left top;
    width:100%;
}

/*試験タイトルの一括設定*/
.titleShiken {
    width:320px;
    text-align : left;
    border-spacing: 0px;
}
.titleShiken td.left {
    background-color: #f08080;
    border-bottom:2px solid #c0c0c0;
    width:5px;

}
.titleShiken td.right {
    color : #000000;
    background-color: #ffffff;
    border-bottom:2px solid #c0c0c0;
    font-size: 14px;
    font-weight: bold;
}

/**説明を表示するBOX*/
.tableExBox {width:640px; border:1px solid #c9c9c9; background-color:#fff4f4;  border-collapse:collapse;}
/**外枠表示テーブル*/
.tableFrameDisp {width:640px; border:1px solid #000000; }
/**枠無しテーブル*/
.tableNoFrame{ width:640px; border-collapse:collapse;text-align: left;}


.tableMain{width: 640px;  border-collapse: collapse;}
.tableMain th{
    text-align: left;
    background-color: #e9e9e9;
    border-collapse: collapse;
    border:1px solid #c0c0c0;
    color: #000000;
    font-weight: 600;
    padding-left: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.tableMain td.basic {
    background-color: #f9f9f9;
    border-collapse: collapse;
    border:1px solid #c0c0c0;
    color: #000000;
    padding-left: 6px;
}
.tableMain td.err {
    border:1px solid #c0c0c0;
    background-color: #ff5555;
    padding-left: 6px;
}
/**通知書きテーブル*/
.tableNotice{ width:640px; border-collapse:collapse;}
.tableNotice font.txtNotice{ color: #FF6600; font-weight: 700;}
.tableNotice td.bgNotice{background-color: #ff9966}

/**次画面への遷移ボタン*/
.buttonNext { height: 30px; font-size: 14px; }

/**見出し*/
.headline{color : #000000; font-size: 18px; font-weight: 600;}
/**小見出し*/
.subHeadline { font-size: 12px; font-weight: bold; color: #003366;}
/**注意書きフォント*/
.txtAttention{ color: #ff1100; }
/**メニュー画面のテーブル*/
.tableMenu{}
.tableMenu th{text-align: center;
              background-color: #ffffff;
              border:1px solid #ffffff;
              color: #000000;
              font-weight: 600;

}
.tableMenu input{width: 200px; height: 30px;}
.tableMenu td{
    text-align: left;
    background-color: #ffffff;
    border:1px solid #ffffff;
    color: #000000;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 40px;
}
